<div class='card'>
  <div class='card-img-top'>
    <img class='pokemon-img' src='{{sprites.front_default}}' alt='{{name}}' />
  </div>
  <div class='card-body'>
    <h2 class='card-title'>Name:{{name}}</h2>
    <p class='cardtext'>Weight:{{weight}}</p>
    <p class='cardtext'>Height:{{height}}</p>
    <p class='cardtext'>Skills</p>
  </div>

  <ul class='list-group'>
    {{#each abilities}}
      <li class='list-group-item'>{{ability.name}}</li>
    {{/each}}
  </ul>
</div>